version: "3.8"

services:
  react-app:
    image: react-investment-calculator
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5185:5185"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true
    tty: true
